/**
 * Page-wide styles
 */

body {
    font-family: "Roboto", sans-serif;
}

body::before {
    background-image: url('../img/background.png');
    background-size: cover;
    background-attachment: fixed;
    content: '';
    will-change: transform;
    z-index: -1;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    position: fixed;
}

/**
 * Content
 */

div.maincontent {
    width: 40vw;
    margin: 0 auto;
    margin-top: 7%;
    color: white;
    text-align: center;
    vertical-align: middle;
}