/**
 * Page-wide styles
 */

body {
    background-color: #F4F4F4;
    color: #111111;
}

a {
    color: #003872; /** darken($accent, 10) **/
    text-decoration: none;
}

p, div, span, header {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 18px;
}

h1, h2 {
    font-family: Helvetica, Arial, sans-serif;
}

h1 {
    font-size: 3.5em;
    margin: 15px auto 0px;
}

h2 {
    font-size: 2.5em;
    margin: 0 auto;
}

body {
    width: 60%;
    margin: 0 auto;
}

h2 a {
    color: black;
    text-decoration: none;
}

h2 a:hover {
    text-decoration: underline;
}
/**
 * Header styles
 */

header.site {
    padding-bottom: 20px;
    border-bottom: 1px solid #444444;
}

p.description {
    font-size: 22px;
    margin: 0;
}

/**
 * Content styles
 */

div.post_title {
    padding: 2px 0;
    margin-bottom: 10px;
}

span.date, span.category {
    font-size: 14px;
    font-variant: small-caps;
    color: #444444;
}

/**
 * Pagination styles
 */

footer {
    font-variant: small-caps;
    font-size: 14;
    text-align: center;
    width: 50%;
    margin: 20px auto;
    color: #222222;
}
span.curr_page {
    font-weight: bold;
}