/**
 * Page-wide styles
 */

body {
    background-color: #9c27b0;
    color: white !important;
}

a {
    color: black;
}

i {
    font-size: 15px;
}

/**
 * Header
 */

header {
    padding: 0;
    margin-top: -20px;
    color: white;
    height: 40vh;
}