/**
 * Global assets
 */

p.description {
    font-family: 'Lato', sans-serif;
    color: white;
    width: 60vw;
    display: block;
    margin: 1vh auto;
    line-height: 165%;
    text-align: justify;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'LibelSuit-Regular', sans-serif;
    text-transform: uppercase;
}

/**
 * Navigation bar
 */

.navbar {
    margin-bottom: 0;
}

/**
 * Page 1
 */

div#page1 {
	background-image: url('../img/background_page1.png');
	background-size: cover;
	height: 100vh;
}

div#page1 img {
    display: block;
    margin: 0 auto;
}

img#iphone {
    width: 17vw;
    padding-bottom: 3vh;
    padding-top: 3vh;
}

img#sporelogo {
    height: 13vh;
    padding: 1vh;
}

img#sporecaption {
    height: 8vh;
    padding: 1vh;
}

/**
 * Page 2
 */

div#page2 {
	background-image: url('../img/background_page2.png');
	background-size: cover;
	height: 40vh;
}

div#page2 h1 {
    color: #FFECA1;
}

/**
 * Page 3
 */

div#page3 {
	background-image: url('../img/background_page3.png');
	background-size: cover;
	height: 60vh;
}

div#page3 h1 {
    color: #D6FFB0;
}

div#specs {
    width: 100vw;
    height: 30%;
    background-color: #000000;
    margin-left: -15px;
    margin-top: 50px;
    opacity: 0.5;
    padding-left: 15%;
}

div.icons {
    display: inline-block;
    width: 10%;
    height: inherit;
}

div.icons img {
    height: 175%;
    margin: 10px auto;
    display: block;
}

div.icons p {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    text-align: center;
    color: #ffffff;
}
