/**
 * Page-wide styles
 */

html {
    font-family: "Roboto", sans-serif;
}

#cover {
    height: 100vh;
    width: 100vw;
    padding: 1% 7%;
    background-color: #3f51b5;
}

/**
 * Navbar
 */

nav li a {
    color: white;
    text-shadow: none !important;
}

nav li a:hover, nav li a:focus {
    background-color: transparent !important;
    color: white;
    text-shadow: none !important;
    border-bottom: 2px solid white;
}

/**
 * Main
 */

img#avatar {
    display: block;
    width: 75%;
    margin: 0 auto;
    border-radius: 100%;
}