<!DOCTYPE html>
<html>
<head>

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="{{site.baseurl}}/assets/materialize/css/materialize.min.css">
    <link rel="stylesheet" type="text/css" href="{{site.baseurl}}/assets/bootstrap/css/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/icon?family=Material+Icons" >
    <link rel="stylesheet" type="text/css" href="{{site.baseurl}}/assets/blog/default.css" />

    <!-- Meta -->
    <meta name="description" content="{{site.description}}"/>
    <meta name="author" content="{{site.author}}"/>
    <link rel="alternate" type="application/rss+xml" title="RSS feed" href="{{site.baseurl}}/feed.xml" />

    <title>{% if page.title %} {{ page.title }} | {% endif %} {{ site.name }}</title>

</head>

<body>

    <header class="valign-wrapper">
        <h1>{{ site.name }}</h1>
        <h4>{{ site.description }}</h4>
    </header>

    <div class="container">
        {{ content }}
    </div>

    <!-- JavaScript/jQuery -->
    <script type="text/javascript" src="{{site.baseurl}}assets/jquery/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="{{site.baseurl}}assets/materialize/js/materialize.min.js"></script>

</body>
</html>
